* {
    padding: 0;
    margin: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 31, 31);
    border: 1px solid red;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: url(./assets/pub-tables.jpg);
    background-size: auto auto;
    background-repeat: no-repeat; */
    border-radius: 50px;
}

.head-title {
    color: burlywood ;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.buttons {
    height: 25px;
    width: 50px;
    border-radius: 25px;
    background-color: darksalmon;
    color: rgb(54, 30, 30);
}

.pub-image {
    border-radius: 10px;
    height: 75vh;
    width: 65vw;
}